/***************************************************************/
/*                          GLOBAL RULES 
/***************************************************************/
@font-face {
  font-family: Raleway;
  src: url(Raleway-VariableFont_wght.ttf);
}

:root {
  --bleu: #0065fc;
  --bleu-clair: #deebff;
  --background: #f2f2f2;
  --font: Raleway;
  --font-color: black;
}

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  width: 100vw;
  /* border: 10px solid red; */
}

body {
  background-color: white;
  font-family: var(--font);
  /* border: 10px solid tomato; */
}

.body__container {
  height: 100%;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-template-rows: auto;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  /* border: 3px solid black; */
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: var(--font-color);
}

button {
  outline: none;
  border: none;
}

/***************************************************************/
/*                            HEADER 
/***************************************************************/

header {
  grid-row: 1;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

nav {
  width: 30%;
  height: 100%;
  position: relative;
}
nav .line {
  height: 2px;
  width: calc(100% / 3);
  background-color: var(--bleu);
  position: absolute;
  top: 0;
  left: 5%;
}
nav ul {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav ul li:hover {
  cursor: pointer;
}
nav ul li:nth-child(3) {
  font-weight: 700;
  color: var(--bleu);
}

nav .active {
  color: var(--bleu);
}

/***************************************************************/
/*                             INTRO 
/***************************************************************/

#intro {
  grid-row: 2;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}

/*************************** SEARCH BAR ************************/

#intro form {
  height: 40px;
  width: 350px;
  display: flex;
  justify-content: flex-start;
  /* border: 1px solid tomato; */
}

form .icon__container {
  background-color: var(--background);
  width: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form i {
  color: black;
}
form input {
  width: 200px;
  border-left: none;
  border-right: none;
  border-top: 1px solid var(--background);
  border-bottom: 1px solid var(--background);
  padding: 0 10px;
  font-size: 1.1rem;
  outline: none;
}
form button {
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--bleu);
  color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form button i,
form button i::before,
form button i::after {
  display: none;
}

/**************************** FILTERS **************************/

.filters {
  height: 40px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid tomato; */
}
.filters h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  padding-left: 10px;
}
.filters ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid greenyellow; */
}
.filters ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid yellow; */
}
.filters .filter {
  height: inherit;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 2px solid var(--background);
}
.filter p {
  font-weight: bold;
  padding: 10px 20px;
}
.filter__btn {
  height: 40px;
  width: 40px;
  background-color: var(--bleu-clair);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.1);
  transform-origin: center;
  border-radius: 50%;
}
.filter__btn i {
  color: var(--bleu);
  font-size: 1rem;
}

/****************************** INFO ***************************/

.info {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.info .icon__container {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 50%;
  margin-right: 1ch;
}
.info .icon__container i {
  color: var(--bleu);
  font-size: 0.75rem;
}

/***************************************************************/
/*                      SECTIONS COMMUN 
/***************************************************************/

#hebergement,
#populaire {
  height: 550px;
  max-height: 100%;
  background-color: var(--background);
  border-radius: 20px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card {
  font-size: 0.9rem;
}
.card span {
  font-weight: 600;
}
i {
  color: var(--bleu);
  font-size: 0.75rem;
  margin-right: 1%;
}
/***************************************************************/
/*                  SECTION HÉBERGEMENTS 
/***************************************************************/

#hebergement {
  grid-column: 1/2;
}

#hebergement button {
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: bold;
  /* margin-top: 30px; */
}

.cards__hebergement {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards__hebergement .card {
  background-color: white;
  border-radius: 15px;
  height: 180px;
  width: 32%;
  padding: 4px;
  margin-bottom: 2.5%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  /* border: 1px solid red; */
}
.cards__hebergement .card__details {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1vw;
}
.cards__hebergement .card .img {
  height: 60%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1px solid red; */
}
.cards__hebergement :nth-child(1) .img {
  background-image: url("img/hebergements/small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.cards__hebergement :nth-child(2) .img {
  background-image: url("img/hebergements/small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.cards__hebergement :nth-child(3) .img {
  background-image: url("img/hebergements/small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.cards__hebergement :nth-child(4) .img {
  background-image: url("img/hebergements/small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.cards__hebergement :nth-child(5) .img {
  background-image: url("img/hebergements/small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
.cards__hebergement :nth-child(6) .img {
  background-image: url("img/hebergements/small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

/***************************************************************/
/*                   SECTION POPULAIRES 
/***************************************************************/

#populaire {
  grid-column: 2/3;
  /* border: 1px solid red; */
}
#populaire .fa-chart-line {
  color: black;
  font-size: 1.5rem;
  transform: translateY(4px);
}
.populaire__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cards__populaire {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}
.cards__populaire .card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 90%;
  padding: 4px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  /* border: 1px solid red; */
}
.cards__populaire .card__details {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 15px;
  /* border: 1px solid red; */
}
.cards__populaire .card .img {
  height: 100%;
  width: 40%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1px solid red; */
}
.cards__populaire :nth-child(1) .img {
  background-image: url("img/hebergements/small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
.cards__populaire :nth-child(2) .img {
  background-image: url("img/hebergements/small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.cards__populaire :nth-child(3) .img {
  background-image: url("img/hebergements/small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

/***************************************************************/
/*                      SECTION ACTIVITIES 
/***************************************************************/

#activities {
  grid-column: 1/3;
  grid-row: 4;
  height: 100%;
  grid-auto-flow: row;
}

.cards__activities {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: min-content 15px min-content 40px;
  column-gap: 35px;
  padding: 20px 0 40px;
}
.cards__activities h3 {
  height: 50px;
  font-size: 0.9rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.cards__activities .card {
  background-color: white;
  border-radius: 15px;
  height: max-content;
  width: 260px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.36);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  /* border: 1px solid red; */
}
.cards__activities .card .img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cards__activities :nth-child(1) {
  grid-column: 1;
  grid-row: 1/6;
}
.cards__activities :nth-child(2) {
  grid-column: 2;
  grid-row: 1/3;
}
.cards__activities :nth-child(3) {
  grid-column: 2;
  grid-row: 4/6;
  align-self: end;
}
.cards__activities :nth-child(4) {
  grid-column: 3;
  grid-row: 1/6;
}
.cards__activities :nth-child(5) {
  grid-column: 4;
  grid-row: 1/2;
}
.cards__activities :nth-child(6) {
  grid-column: 4;
  grid-row: 4/6;
}
.cards__activities :nth-child(1) .img {
  height: 350px;
  background-image: url("img/activites/small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-position: top;
  background-size: 230%;
}
.cards__activities :nth-child(2) .img {
  height: 160px;
  background-image: url("img/activites/small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-position: center 40%;
}
.cards__activities :nth-child(3) .img {
  height: 100px;
  background-image: url("img/activites/small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-position: center 10%;
}
.cards__activities :nth-child(4) .img {
  height: 350px;
  background-image: url("img/activites/small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-position: top;
  background-size: 235%;
  filter: brightness(1.3);
}
.cards__activities :nth-child(5) .img {
  height: 120px;
  background-image: url("img/activites/small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-position: center 1%;
}
.cards__activities :nth-child(6) .img {
  height: 140px;
  background-image: url("img/activites/small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-position: center 10%;
}

/***************** SECTION ACTIVITIES MOBILE *****************/

@media screen and (max-width: 700px) {
  #activities {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  .cards__activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
  }
  .cards__activities .card {
    height: 100%;
    width: 100%;
    max-width: 400px;
    margin: 15px 0;
  }
  .cards__activities .card .img {
    height: 150px;
  }
  .cards__activities :nth-child(1) .img {
    /* height: 250px; */
    background-image: url("img/activites/small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-position: center;
    background-size: 150%;
  }
  .cards__activities :nth-child(2) .img {
    /* height: 250px; */
    background-image: url("img/activites/small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-position: center 40%;
  }
  .cards__activities :nth-child(3) .img {
    /* height: 250px; */
    background-image: url("img/activites/small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-position: center 10%;
  }
  .cards__activities :nth-child(4) .img {
    /* height: 250px; */
    background-image: url("img/activites/small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-position: center;
    background-size: 150%;
    filter: brightness(1.3);
  }
  .cards__activities :nth-child(5) .img {
    /* height: 250px; */
    background-image: url("img/activites/small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-position: center 1%;
  }
  .cards__activities :nth-child(6) .img {
    /* height: 250px; */
    background-image: url("img/activites/small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-position: center 10%;
  }

  .cards__activities :nth-child(3) {
    align-self: center;
  }
}
/***************************************************************/
/*                          FOOTER 
/***************************************************************/

footer {
  height: 170px;
  width: 100vw;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
footer h3 {
  font-weight: bolder;
}
footer ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
  /* border: 1px solid red; */
}
footer li {
  padding: 3px 0;
}
.footer__container {
  width: 95%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
.footer__menu {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

/***************************************************************/
/*                         MOBILE 
/***************************************************************/

@media screen and (max-width: 700px) {
  .body__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1.5vh;
  }

  /************************** HEADER **************************/

  header {
    min-height: 90px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 0 10px 5px;
    border-bottom: 2px solid lightgray;
  }

  .logo {
    align-self: flex-start;
    margin-left: 10px;
  }

  nav {
    position: static;
    width: 100%;
    /* border: 1px solid pink; */
  }

  nav .line {
    top: 100%;
    left: 0;
    width: 50%;
    z-index: 10;
  }
  nav ul :nth-child(3) {
    width: min-content;
    position: absolute;
    top: 20%;
    right: 25px;
  }
  nav ul li {
    width: 50%;
    text-align: center;
    /* border: 1px solid pink; */
  }

  /*************************** SECTIONS COMMUN *************************/

  #intro,
  #populaire,
  #hebergement,
  #activities {
    padding: 0 10px;
  }
  /*************************** INTRO *************************/

  #intro {
    height: max-content;
    justify-content: space-around;
    order: 2;
    /* border: 2px solid red; */
  }
  #intro form {
    width: 100%;
    align-self: center;
    /* border: 1px solid yellowgreen; */
  }
  form input {
    width: calc(100% - 100px);
  }

  form i {
    font-size: 1rem;
  }

  form button {
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 15px;
    transform: translateX(-10px);
  }
  form button i,
  form button i::before,
  form button i::after {
    display: block;
    color: white;
  }
  form button span {
    display: none;
  }
  /* .info {
    border: 2px solid red;
  } */
  .filters {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .filters ul {
    flex-direction: column;
  }
  .info__p {
    font-size: 0.9rem;
  }
  header {
    order: 1;
  }

  /************************* HEBERGEMENT *********************/

  #hebergement {
    order: 4;
    height: 100%;
    width: 100%;
  }
  #hebergement .cards__hebergement {
    flex-direction: column;
    width: 100%;
  }
  .cards__hebergement .card {
    width: 100%;
    margin-bottom: 20px;
  }

  /*************************** POPULAIRE **********************/

  #populaire {
    order: 3;
  }

  /*************************** ACTIVITIES *********************/

  #activities {
    order: 5;
  }

  /***************************** FOOTER ***********************/

  footer {
    height: max-content;
    width: 100%;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3vh 0 0 10px;
  }
  .footer__menu {
    padding-bottom: 2vh;
  }
}
